body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

.projeto {
    margin-bottom: 20px;
}

.projeto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.contato {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

img {
    height: 600px;
    width: 600px;
    border-radius: 5%;
}